body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
  border-top: 5px solid #7DB96F;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background: url(../img/header-backgroud.jpg);
  display: flex;
  flex-flow: column wrap;
  padding: 30px;
  margin: 0;
}

.box-title {
  background: #fff;
  opacity: 0.9;
  padding: 20px 50px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.box-title img {
  margin-bottom: 20px;
}

.cta-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.cta-dark {
  background-color: #7DB96F;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 10px;
  color: #fff;
}

.cta-light {
  background-color: #fff;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 10px;
  color: #7DB96F;
}

.section-intro {
  background: #fff;
  margin: 0;
  padding: 75px;
  color: #000;
  text-align: center;
}

.bandeau-fruit {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 15px 0;

}

.bandeau-fruit img {
  width: 30px;
}

.section-produit {
  background-color: #7DB96F;
  padding: 30px;
}

.produit {
  border-radius: 15px;
  padding: 15px 30px;
  margin: 40px 0;
  display: flex;
  flex-flow: column wrap;
}

.jus-banane {
  background-color: #FCF7D6;
}

.sirop-kiwi {
  background-color: #D0F1AE;
}

.glace-cafe {
  background-color: #CDC4B0;
}

.delice-fraise {
  background-color: #E2A2B1;
}

.produit img {
  width: 80px;
  align-self: flex-end;
}

