body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
  border-top: 5px solid #7DB96F;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background: url(../img/header-backgroud.jpg);
  text-align: center;
  background-size: cover;
  padding: 30px;
  margin: 0;
}

.box-title {
  background: #fff;
  color: #7DB96F;
  opacity: 0.9;
  padding: 15px 50px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.box-title img {
  margin-bottom: 15px;
}

.slogan {
  font-family: 'Quattrocento', serif;
  font-size: 20px;
}

.cta-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.cta {
  text-decoration: none;
  font-family: 'Maven Pro', sans-serif;
  font-size: 19px;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 10px;
}

.cta-dark {
  background-color: #7DB96F;
  color: #fff;
}

.cta-light {
  background-color: #fff;
  color: #7DB96F;
}

.section-intro {
  background: #fff;
  font-family: 'Quattrocento', serif;
  margin: 0;
  padding: 75px;
  color: #000;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
  margin-top: 0;
  margin-bottom: 28px;
}

.section-intro strong {
  font-weight: 700;
}


.bandeau-fruit {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 15px 0;

}

.bandeau-fruit img {
  width: 30px;
}

.section-produit {
  background-color: #7DB96F;
  padding: 30px;
}

.section-produit h2 {
  color: #fff;
}

.produit-lien {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 30px;
  align-items: flex-end;
}

.produit {
  color: #000;
  border-radius: 15px;
  padding: 30px;
  margin: 40px 0;
  display: flex;
  flex-flow: column wrap;
}

.produit h3 {
  font-family: 'Sriracha', cursive;
  margin: 0;
  font-size: 25px;
}

.produit p {
  font-family: 'Quattrocento', serif;
  font-size: 18px;
  opacity: 0.5;
  margin: 0;
}

.produit a {
  color: #000;
  font-family: 'Maven Pro', sans-serif;
  font-size: 14;
  font-weight: 700;
}

.jus-banane {
  background-color: #FCF7D6;
}

.sirop-kiwi {
  background-color: #D0F1AE;
}

.glace-cafe {
  background-color: #CDC4B0;
}

.delice-fraise {
  background-color: #E2A2B1;
}

.produit img {
  width: 80px;
  align-self: flex-end;
}

.section-contact {
  background-color: #fff;
  padding: 45px;
}

.section-contact h2 {
  color: #7DB96F;
}

footer {
  background-color: #fff;
  padding: 30px 75px;
}

footer p {
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
  color: #7DB96F;
  text-align: center;
}



